<div class="d-flex justify-content-center mt-5">

    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
                <h1 class="mb-4">Login</h1>
            </div>
            <div class="form-floating mb-3">
            <app-text-input  label="Email Address" [formControl]="loginForm.controls['email']" ></app-text-input>
            <app-text-input type="password"  label="Password"  [formControl]="loginForm.controls['password']" ></app-text-input>
            </div>
            <div class="d-grid">
                <button [disabled]="loginForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
            </div>

        </form>
    </div>
</div>