<div class="container">
    <div class="row">
        <!-- Filter -->
        <section class="col-3" *ngIf="brands.length>0 &&productTypes.length>0 ">
            <h5 class="text-warning ms-3">Sort</h5>
            <select class="form-select mb-4" (change)="onSortSelected($event)">
                <option *ngFor="let sortOption of sortingOptions" [value]="sortOption.value">{{sortOption.name}}
                </option>
            </select>
            <h5 class="text-warning ms-3">Brands</h5>
            <ul class="list-group my-3">
                <li class="list-group-item " *ngFor="let brand of brands" [class.active]="brand.id==shopPrams.brandId"
                    [value]="brand.id" (click)="onBrandSelected(brand.id)">{{brand.name}}</li>
            </ul>
            <h5 class="text-warning ms-3">Types</h5>
            <ul class="list-group my-3">
                <li class="list-group-item " *ngFor="let productType of productTypes" [value]="productType.id"
                    [class.active]="shopPrams.productTypeId==productType.id"
                    (click)="onProductTypeSelected(productType.id)">{{productType.name}}</li>
            </ul>
        </section>
        <!-- Products -->
        <section class="col-9">
            <div class="d-flex justify-content-between align-content-center pb-2">
                <app-paging-header [totalItems]="totalItems" [pageIndex]="shopPrams.pageIndex"
                    [pageSize]="shopPrams.pageSize">
                </app-paging-header>
                <div class="d-flex mt-2">
                    <input type="text" (keyup.enter)="onSearch()" #search name="search" id="search" placeholder="Search"
                        class="form-control me-2">
                    <button class="btn btn-outline-primary mx-2" (click)="onSearch()">Search</button>
                    <button class="btn btn-outline-success " (click)="onReset()">Reset</button>
                </div>
            </div>
            <div class="row row-cols-3 g-3">
                <div class="col" *ngFor="let product of products">
                    <app-product-item [product]="product"></app-product-item>
                </div>
            </div>
            <div *ngIf="totalItems>0" class="d-flex justify-content-center mt-3">
                <app-pager (pageChanges)="onPageChange($event)" [pageSize]="shopPrams.pageSize"
                    [totalItems]="totalItems"></app-pager>
            </div>

        </section>
    </div>
</div>